body {
  font-family: 'Courier New', Courier, monospace;
  background-color: darkgray;
}

.title {
  text-align: center;
}

.hidden {
  display: none;
}

.card-text {
  color:white;
  font-size: 23px;

  line-height: 2em;
  background-color: black;
}